/* const styles = {
    messageElements: {
        display: 'flex',
        flexDirection: 'column'
    },
    chipSenderMe: {
      margin: 4,
      alignSelf: 'flex-end',
    },
    chipSenderOther: {
        margin: 4,
        alignSelf: 'flex-start',
      }}; */